footer {
    width: 100%;
    padding: 28px 3%;
    background: var(--bg-color);
    box-shadow: 0px 6px 16px var(--shadow-color);
}

.footer-inside {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 86%;
    color: var(--l-opacity-color);
}