aside {
    display: flex;
    flex-direction: column;
    max-width: 10%;
    margin-left: 10px;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filters .filter-select {
    display: none;
}

.filters .filter-group:hover .filter-select {
    display: block;
}