.taskList {
    min-height: 80vh;
    background-color: #F9FAFB;
    padding: 30px;    
}

.done {text-decoration: line-through;}

.priority-baixa p.taskPriority {
    color: green;
}

.priority-média p.taskPriority {
    color: yellow;
}

.priority-alta p.taskPriority {
    color: red;
}

.overDue {
    background:red;
}