.taskList {
    min-height: 80vh;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    
}

.done {text-decoration: line-through;}

.priority-baixa p.taskPriority {
    color: green;
}

.priority-média p.taskPriority {
    color: yellow;
}

.priority-alta p.taskPriority {
    color: red;
}

.overDue {
    background:red;
}