* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

:root {
    --bg-color:#fff;
    --text-color:#080C17;
    --shadow-color:#0000006d;
    --l-opacity-color:#7b8290;
}

a {text-decoration: none;}